@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FlowBot Worker Portal</h1>
    <p class="lead">Use this portal to check your work queue and provide feedback to the FlowBot team!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Do FlowBot work
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in velit at leo varius cursus.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Praesent fringilla, velit ultrices volutpat hendrerit, purus leo venenatis nibh, viverra placerat nibh nibh vel libero.
            Integer ac purus mauris. Suspendisse euismod et erat eget rutrum.
            Quisque ut euismod nunc, sit amet laoreet nunc. Vivamus placerat felis in mattis ullamcorper.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Provide constructive feedback</h2>
        <p>
            Praesent fringilla, velit ultrices volutpat hendrerit, purus leo venenatis nibh, viverra placerat nibh nibh vel libero.
            Integer ac purus mauris. Suspendisse euismod et erat eget rutrum.
            Quisque ut euismod nunc, sit amet laoreet nunc. Vivamus placerat felis in mattis ullamcorper.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            Integer ac purus mauris. Suspendisse euismod et erat eget rutrum.
            Quisque ut euismod nunc, sit amet laoreet nunc. Vivamus placerat felis in mattis ullamcorper.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>